@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: var(--bg);
  color: var(--bg);
}

body {
  padding: 0;
  margin: 0;
  padding: 0;
  display: flexbox;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 1;
  background-color: var(--bg);
  color: var(--clr);
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  @apply text-center transition-all duration-700 ease-in;
}

:root {
  --bg: black;
  --clr: white;
  --bgop: white;
  --clrop: black;
  --linkclr: aqua;
}

[data-theme="light"] {
  --bg: white;
  --clr: black;
  --bgop: black;
  --clrop: white;
  --linkclr: #0090eb;
  height: 150%;
}

[data-theme="dark"] {
  --bg: black;
  --clr: white;
  --bgop: white;
  --clrop: black;
  --linkclr: #0090eb;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: white;
    --clr: black;
    --bgop: black;
    --clrop: white;
    --linkclr: #0090eb;
    height: 150%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --clr: white;
    --bgop: white;
    --clrop: black;
    --linkclr: #0090eb;
  }
}

.themetoggle {
  background-color: var(--bgop);
  color: var(--clrop);
}

.heading {
  font-size: 38px;
  @apply font-extrabold;
  margin: 0;
  padding: 0;
}

.slogan-big {
  display: none;
}

.links {
  font-size: 28px;
  color: var(--linkclr);
}

.placeholder {
  color: var(--clr);
  background-color: var(--bg);
  @apply scale-y-150 duration-700;
}

.links:hover {
  background-color: var(--linkclr);
  @apply duration-700;
  color: black;
}

.projects {
  @apply cursor-none;
}

@media screen and (min-width: 1800px) {
  .placeholder {
    @apply scale-100;
  }
  body {
    font-size: 38px;
  }
  .links {
    font-size: 24px;
  }
  .heading {
    font-size: 64px;
  }
  .slogan-big {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slogan-small {
    display: none;
  }
}
