@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

body {
  background-color: var(--bg);
  color: var(--clr);
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  @apply text-center transition-all duration-700 ease-linear;
}

:root {
  --bg: black;
  --clr: white;
  --bgop: white;
  --clrop: black;
  --linkclr: aqua;
}

[data-theme="light"] {
  --bg: white;
  --clr: black;
  --bgop: black;
  --clrop: white;
  --linkclr: #0090eb;
}

[data-theme="dark"] {
  --bg: black;
  --clr: white;
  --bgop: white;
  --clrop: black;
  --linkclr: aqua;
}

.themetoggle {
  background-color: var(--bgop);
  color: var(--clrop);
}

.heading {
  font-size: 36px;
  @apply font-extrabold;
  margin: 0;
  padding: 0;
}

.slogan-big {
  display: none;
}

.links {
  font-size: 12px;
  color: var(--linkclr);
}

.placeholder {
  color: var(--clr);
  background-color: var(--bg);
  @apply transition-all duration-700 ease-linear scale-y-150;
}

.links:hover {
  background-color: var(--linkclr);
  color: black;
  @apply transition-all duration-700 ease-linear;
}

.projects {
  @apply list-none transition-all duration-700 ease-linear cursor-none;
}

@media screen and (min-width: 1800px) {
  .placeholder {
    @apply scale-100;
  }
  body {
    font-size: 36px;
  }
  .links {
    font-size: 24px;
  }
  .heading {
    font-size: 64px;
  }
  .slogan-big {
    display: block;
  }
  .slogan-small {
    display: none;
  }
}
